


body {
  font-family: Arial, sans-serif;
  background-image: url("./assets/bg.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  
}

.container {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);  /* Стеклянный эффект */
  backdrop-filter: blur(25px);
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Убираем горизонтальный скролл */
}

@media (max-width: 768px) {
  width: 390px
}


h1 {
  color: #f8fe34;
  font-size: 24px;
}

textarea {
  width: 100%;
  height: 300px;
  padding: 15px;
  margin-top: 10px;
  box-sizing: border-box;
  border: 2px solid rgba(55, 55, 55, 0.3);
  background-color: rgba(55, 55, 55, 0.3);
  border-radius: 10px;
  resize: none; 
  font-size: 16px;
  color: #fff;
  outline: none;
  backdrop-filter: blur(10px);
}

textarea:focus {
  border: 2px solid rgba(180, 180, 180, 0.98)
}

textarea::placeholder {
  color: rgba(173, 173, 173, 0.49)
}

.output {
  margin-top: 20px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  /* min-height: 100px; */
  height: 300px;
  color: #383838;
  backdrop-filter: blur(10px);
  white-space: pre-wrap; /* Сохраняем переносы строк */
  word-wrap: break-word; /* Переносим длинные слова */
}
.placeholder-result {
  color: rgba(60, 60, 60, 0.616);
}


button {
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(72, 72, 255, 0.7);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover:enabled {
  background-color: rgba(72, 72, 255, 0.9);
}

button:disabled {
  background-color: rgba(200, 200, 200, 0.5);
  cursor: not-allowed;
}

.toast {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 14px;
  animation: fadeInOut 2s;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  20%, 80% { opacity: 1; }
}
